.App{
    background-color: red;
    border: 2px solid black;
    padding: 1rem;
}
.box{
    background: rgb(174,238,177);
    background: linear-gradient(90deg, rgba(174,238,177,1) 0%, rgba(148,233,224,1) 100%);
    padding: 2rem;
    width: 10rem;
    margin: 1rem;
    border: 2px solid black;
    /* height: 19rem; */
    display: inline-block;

}

#readMore{
    background-color:midnightblue;
    color: white;
    padding: 0.5rem;
}
.bold{
    font: bold;
}